amqp==2.5.0
anyjson==0.3.3
billiard==3.6.0.0
celery==4.3.0
Django==2.2.24
factory-boy==2.12.0
Faker==1.0.7
kombu==4.6.3
logger==1.4
numpy==1.16.4
pandas==0.24.2
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
vine==1.3.0
xlrd==1.2.0
